/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/merriweather-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('fonts/merriweather-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-v21-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/merriweather-v21-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
       url('fonts/merriweather-v21-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-v21-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-v21-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-v21-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-v21-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/merriweather-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/merriweather-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-sans-v13-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* merriweather-sans-italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/merriweather-sans-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/merriweather-sans-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/merriweather-sans-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/merriweather-sans-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/merriweather-sans-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/merriweather-sans-v13-latin-italic.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}